<a href="https://colab.research.google.com/github/Muhammad-Farhan-A/Kelompok-2-APM-B/blob/main/Prak1_Multiple_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Mengimport library
import numpy as np
import pandas as pd

In [2]:
#Pemanggilan dataset
dataset = pd.read_csv('Marketing_Data.csv')
dataset.head()

   youtube  facebook  newspaper  sales
0    84.72     19.20      48.96  12.60
1   351.48     33.96      51.84  25.68
2   135.48     20.88      46.32  14.28
3   116.64      1.80      36.00  11.52
4   318.72     24.00       0.36  20.88

In [3]:
#Pendefenisian x dan y sebagai variabel independen dan dependen
x = dataset.drop(['sales'], axis=1).values
y = dataset['sales'].values

In [4]:
#Membagi dataset menjadi Training Set dan Testing Set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [5]:
#Melatih model pada training set
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()